<div class="image-list-wrapper">
    <form [formGroup]="formList">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-8"></div>
                <div class="col-xs-12 col-md-4">
                    <input id="title" type="text" [formControl]="inputFilter" class="form-control"
                        formControlName="inputFilter"
                        required
                        (keydown) = "getImagesByTag($event)"
                    >
                </div>
            </div>            
                <div *ngIf="inputFilter.value!.length == 0; else elseBlock" class="row">
                    <div *ngFor="let img of images.data; index as i;" class="col-xs-12 col-md-4 img-container">
                            <div>
                                <button class="btn btn-danger" (click)="deleteImage($event, img.fileName)">x</button>
                                <p>
                                    <img src="{{img.fileName}}" alt="image" />
                                </p>
                            </div>
                            <div>
                                <p>{{img.title}}</p>
                                <p>{{img.price}}$</p>
                            </div>
                    </div>
                </div>
            <div class="row">
                <ng-template #elseBlock>
                    <div *ngFor="let img of filteredImages; index as i;" class="col-xs-12 col-md-4 img-container">
                            <div>
                                <button class="btn btn-danger" (click)="deleteImage($event, img.fileName)">x</button>
                                <p>
                                    <img src="{{img.fileName}}" alt="image" />
                                </p>
                            </div>
                            <div>
                                <p>{{img.title}}</p>
                                <p>{{img.price}}$</p>
                            </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </form>
</div>