<div class="list-item-wrapper">
    <div class="row">
        <div class="col-xs-12">
            
            <div class="list-item-image">
                <img src="http://via.placeholder.com/200x200"
                    width="100%"
                >
                <div class="delete-list-item">
                    <!-- <button class="btn btn-danger "  (click)="deleteImage($event, fileUpload.id)"> X </button> -->
                </div>
                    
                <div class="download-list-image">
                    <!-- <button class="btn btn-success " (click)="deleteImage($event, fileUpload.id)">Download</button> -->
                </div>
            </div>
            
        </div>
        <div class="col-xs-12">
            Desc
            <!-- {{fileUpload.data.descri}} -->
        </div>
        <div class="col-xs-12 col-md-6">
            title
            <!-- {{fileUpload.title}} -->
        </div>

        <div class="col-xs-12 col-md-6">
            <div class="float-end">
                price
            </div>
            <!-- {{fileUpload.title}} -->
        </div>


    </div>
</div>