<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md">
      <img src="http://via.placeholder.com/200x50" alt="Logo"/>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <a routerLink="/imageList">Listagem</a>
    </div>
    <div class="col-xs-12 col-md-6">
      <a routerLink="/upload">Fazer upload</a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="float-right">
        Search
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>